article {
  margin-top: 40px;
  padding: 40px;
  margin: 0 50px; 
  background: rgb(215, 215, 215);
  border-radius: 10px;
  color: rgb(6, 5, 5);
  font-style:normal;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);

  line-height: 1.9;
  font-size: 18px;

  h1, h2, h3 {
    margin-top: 36px;
    color: var(--primary);
  }

  p {
    margin: 5px 0;
  }

  pre {
    background: #3c748e;
    color: #ffffff;
    padding: 20px;
    margin: 0 50px; 

    border-radius: 1px;
    overflow-x: auto;
    margin: 24px 0;
  }

  code {
    font-family: 'Courier New', monospace;
  }
}
