.section {
  margin-bottom: 40px;

  h2 {
    margin-bottom: 12px;
  }

  p,
  li {
    color: #f9f5f5;
    line-height: 1.6;
  }

  a {
    display: inline-block;
    margin-top: 8px;
    text-decoration: none;
    color: rgb(12, 12, 12);
    font-weight: 500;
  }
}
