:root {
  --bg-main: #fdfcff;
  --bg-soft: #bebbcd;

  --primary: #443f93;      // mor-mavi (imza renk)
  --secondary: #030202;    // soft pink
  --accent: #00bfa6;       // mint

  --text-main: #0c0d0d;
  --text-soft: #6b7280;

  --border-soft: #e5e7eb;
}
